@import "../App.css";

.logo {
    font-weight: bold !important;
    margin-left: 1rem !important;
}

.logo span {
    color: var(--green);
}

.filter-icon {
    color: var(--grey);
    transform: scale(1.8);
    margin-left: auto;
    margin-right: 1rem;
}

.navigation-top {
    display: flex;
    align-items: baseline;
    padding-top: 1rem;
}

.navigation-options-mobile {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-option svg {
    background-color: var(--green);
    color: white;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    padding: 0.5rem;
}

.nav-option p {
    margin-top: 0.5rem;
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
}

.desktop-nav {
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: 1rem;
    width: 65%;
    justify-content: space-around;
    color: black;
    font-weight: bold;
}

.desktop-nav li {
    display: flex;
    margin-left: 1rem;
    color: var(--green);
}

.desktop-nav p {
    margin-left: 0.5rem;
    font-weight: bold !important;
}

.active-link {
    color: var(--yellow) !important;
}